:root {
  box-sizing: border-box;
  font-family: Montserrat;
  --white-color: #ffffff;
  --body-color: #f5f7fa;
  --sidebar-color: #1e2939;
  --sidebar-text-color: #fffffff5;
  --style-color: #ff6b08;
  --link-color: #9ba2ad;
  --header-footer-color: #c0bcbc;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: calc(0.5em + 1vw);
  background-color: var(--body-color);
}

.wrapper {
  /* align-items: center; */
  background-color: var(--white-color);
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0.3em 0.6em 1.2em rgba(0, 0, 0, 0.15);
}
